
# IDE generated
TestResults
.vs/

# User config
*.suo
*.csproj.user
*.vcxproj.user
_NCrunch_*
*.ncrunchproject
*.ncrunchsolution

# Binary files
bin/
Bin/
obj/
*.class
packages/

#log files
AppData/
App_Data/
*.log
